.article {
  background: rgba(255, 255, 255, 0.47);
  margin-bottom: 24px;
  padding: 16px 16px 12px 16px;
  border-radius: 4px;
  box-shadow: var(--elevation1);
  top: 0;
  position: relative;
  transition: top ease 0.5s;
}

.article p {
  margin: 0;
}

.articleDetails {
  font-size: 15px;
  display: flex;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.47);
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.articleLink,
.articleLink:hover {
  color: inherit;
}

.articleLink:hover .article {
  box-shadow: var(--elevation2);
  transition: var(--transition1);
  top: -1px;
}

.articleLink:hover .title {
  color: var(--blue4);
}

.flex {
  display: flex;
}

.hoverText {
  background-image: url("../../data/yellowStroke.png");
  background-repeat: no-repeat;
  background-size: 92% 158%;
  visibility: hidden;
}

.hovered .hoverText {
  visibility: visible;
}

.heart {
  color: transparent;
  text-shadow: 0 0 0 var(--purple4);
}
