.container {
  width: 620px;
  padding-left: 8px;
}

@media (max-width: 640px) {
  .container {
    padding: 0 12px;
    width: 100vw;
  }

  h1 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 12px;
  }
}